html, body {
  font-family: 'Noto Serif JP','serif','ＭＳ Ｐ明朝';
  background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
}

#all{
  color:#191970
}

#text{
  font-size: 50px;
  text-align: left;
}

#count{
  flex-direction: column;
  justify-content: center;
  font-size: 60px;
  text-align: center;
}
